.body-main-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e0e0e0;

    .chucks{
        width: 10%;
        border-radius: 50px;
        background: #e0e0e0;
        box-shadow:  20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
        cursor: pointer;
        margin: 20px;
        border-radius: 15px;
            text-transform: capitalize;
            text-align: center;
            color: black;
 
    }

}